body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
button {
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
label {
  margin-right: 20px;
}

